<div id="intro-of-me" class="row">
  <div class="container">
    <h1 class="text-center">Introduction</h1>
    <hr>
      <div class="row text-center">
        <div class="col-md-4">
          <%= profile_picture_helper @admin_traits %>
          <li id='intro-resume-download-btn' class="list-unstyled jquery-download">
            <%= intro_resume_helper @admin_traits %>
          </li>
        </div>
        <div class="col-md-8 mt-5">
          <div class="row ">
            <div class="col intro-text">
              <p>Programming is an active component of my every day.</p>
              <p>The innovative community and means for creative problem solving that programming provides have inspired me to explore various side projects to strengthen my real world programming experience.</p>
              <p>I thrive in a work environment that both challenges me and encourages exponential growth, and the start up environment provides that. The creative culture that exists around the technology industry promotes a continual flow of new and innovative ideas, making the step from Av Engineering into Software Development a natural transition.</p>
              <p>I attend Rails conferences and Ruby meet ups to continue to dive deeper into the community.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>