<div id="intro-of-me" class="row">
  <div class="container">
    <h1 class="text-center">Introduction</h1>
    <hr>
      <div class="row text-center">
        <div class="col-md-4">
          <%= image_tag("profile", alt: "Me", id: "profile-pic", class: 'img-fluid') %>
          <%= link_to fa_icon('download', text: 'Resume'), '#', class: 'btn btn-secondary btn-block mb-2' %>
        </div>
        <div class="col-md-8 mt-5">
          <div class="row ">
            <div class="col">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit repellendus aperiam facere amet, a dicta rem atque debitis suscipit. Ab dolores illo</p>
              <p>libero quidem excepturi, quisquam. Sed unde pariatur doloribus cumque autem facere est doloremque quidem sapiente, ducimus, quae debitis qui modi consectetur esse fugiat necessitatibus inventore. Deleniti excepturi eum odio minima fugit laboriosam quos eligendi reprehenderit quaerat atque! Incidunt!</p>
              <%= link_to fa_icon('arrow-right', text: 'Learn more about me....'), '#', class: 'btn btn-lg btn-info' %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>