  <div class="container">
    <div class="row">

      <div class="col col-md-4">
        <h2 class="text-center">Technologies</h2>
        <ul class="list-group">
          <li class="list-group-item">
              <%= image_tag 'http://rubyonrails.org/images/rails-logo.svg', class: "img-fluid img-thumbnail", alt: 'Ruby On Rails' %>
              <hr>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger w-63" style="width: 63%" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
          <li class="list-group-item">
            <%= image_tag 'https://cdn.worldvectorlogo.com/logos/react-1.svg', class: " img-fluid img-thumbnail", alt: 'React.js' %>
            <hr>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>