<div class="container">
	<h1 class="mt-2">Blogs</h1>
	<%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' if logged_in? :admin %>
	<hr>
	<div class="blog-container d-flex flex-column">
		<% @blogs.each do |blog| %>
			<div class="col-md-8 mx-auto">
				<div class="card">
					<div class="card-block">
						<div class="card-title">
							<h3>
								<%= link_to "#{blog.title}", '#' %>
							</h3>
						</div>
					</div>
					<div class="card-footer text-muted">
						<span>
							<%= "#{time_ago_in_words(blog.updated_at)} ago" %>
						</span>
						<% if logged_in? :admin, :editor %>
							<div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
								<%= blog_status_button blog %>
							</div>
						<% end %>
					</div>
				</div>
				<hr>
			</div>
		<% end %>
	</div>
</div>