<div id='portfolio-items-uploader' class="container">
	<div class="row justify-content-center mb-4">
		<% unless @traits.empty? %>
			<% @traits.each do |t| %>
				<ul class="list-group">
					<li class="list-group-item">
						<%= image_tag t.profile_picture, class: 'img-responsive', width: '50%' %>		
					</li>
					<li class="list-group-item">
						<%= t.resume %>
					</li>
				</ul>
			<% end %>
		<% else %>
			<div class="text-center">
				<h3>You dont have any Traits!</h3>
				<p>Add some!</p>
			</div>
		<% end %>
	</div>
	<div class="row">
		<%= link_to "Upload new Trait Items", admin_add_traits_path, class: 'btn btn-info btn-block' %>
	</div>
	</div>
</div>