<% if flash[:notice] %>
	<script type="text/javascript">
		swal({
			title: 'Thanks for reaching out!',
			text: "<%=j flash[:notice] %>",
			type: 'success',
			timer: 3000,
			animation: "slide-from-top"
		});
	</script>
	<div class="notice"></div>
<% end %>