

<%= image_tag("profile_pic") %>
<h1>Sebastian Valdez</h1>

<div>

<h2>About me</h2>

<h2>Contact me</h2>
<%= fa_icon 'github', text: 'Github Account' %>


<h2>Hobbies</h2>
<li>Coffee</li>
<li>Coding</li>
<li>3D Printing</li>
<li>Traveling</li>

</div>