<header class="intro-header">
  <div class="container">
    <div class="intro-message">

      <p class="animated-msg-container">
        <span class="animated-msg"></span>
      </p>      
      
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="https://github.com/interstellaridea" target="_blank" class="btn btn-secondary btn-lg">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">Github</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/sebastian-valdez-b5549668/" target="_blank" class="btn btn-secondary btn-lg">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>