
  <h1>About me:</h1>
<div class="row">
  <div class="col-md-4">
    <%= image_tag("profile_pic", alt: "Me", id: "profile-pic", class: 'img-fluid') %>
  </div>
  <div class="col-md-8">
    <article id="about-me">
      <p>
        Programming started out as hobby of mine and has, over the years, turned into one of my passions. I picked up Ruby and Rails because of an opportunity I saw at work to use the technology to save money and increase efficiency for Solar City.  I have since begun to seriously pursue a career in Software Development and am ready to transition into a professional role.
      </p>
      <p>
        Programming is an active component of my every day. I am attending Rails conferences and Ruby meet ups to dive deeper into the community and enjoy studying Sandi Metz’s methodology on Object Oriented Design. The innovative community and means for creative problem solving that programming provides have inspired me to explore various side projects to strengthen my real world programming experience.
      </p>
      <p>
        <b>Various projects I have worked on include:</b>
        <ul>
        <li>
           Building a wrapper to better utilize RESTful APIs from Zoom's Cloud Meeting service, allowing my company to preform identity management on all of our licenses programatically.</li><br>

        <li> Building a Ruby Gem to check spec coverage and help my TDD.</li><br>

        <li>Multiple Udemy rails projects that teach the use of:</li>
        -<i>RSpec,  Debugging, Pushing to Heroku.</i></li></ul>
      </p>

      <p>
        <b>Contributes to two separate open-source projects:</b>
        <ul>
          <li>An application where I helped architect and develop a rails back-end to track data about roasted coffee.</li>
          <li>A site publishing music weekly to subscribers</li>
        </ul>
      </p>

    </article>
  </div>
</div>