<div class="row">
  <div class="col">
    <%= render partial: 'pages/items/header' %>  
  </div>
</div>

<%= render partial: 'pages/items/introduction' %>
<%= render partial: 'pages/items/hobbies' %>
<%#= render partial: 'pages/items/technologies' %>
<%= render partial: 'pages/items/contact_me' %>
