/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require sweet-alert
 */

@import "bootstrap";
@font-face {
	font-family: 'Gotham-thin';
	src:url(/fonts/GothamHTF-Thin.oft) format('otf');
}
 body {
 	background-color: #222;
 	color: #fff;
 	font-family: 'Gotham-thin';
 }

 #wrapper {
 	margin-top: 15%;
 }

#left-col {
	text-align: center;
}

.custom-nav {
		font-size: 30px;
		a {
			text-decoration: none;
			color: #d3d3d3;
			transition: 0.25s all linear;
		}
		a:hover {
			color: #00bfff;
		}
}
 #profile-pic {
 	margin-top: 30%;
 	border-radius: 100%;
 }

 #profile-name {
 	padding-top: 10px;
 	margin-bottom: 10px;
 }

 #github-link {
 		text-decoration: none;
 }

  #contact-link {
 		text-decoration: none;
 }

	#about-link {
 		text-decoration: none;
 }

 .nav{
 	margin-top: 50px;
 	li {
 		color: #000;
 		padding: 5px;
 	}
 }

 #contact-me {
	margin: 9% 0 0 9%;
 }

 .errors {
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 17px;
 }

#resume-download-btn {
	border: 1px solid #fff;
	padding: 10px 25px;
	color: #fff;
	transition: 0.25s all linear;
}

#resume-download-btn:hover, #resume-download-btn:focus{
	text-decoration: none;
	color: #333;
	background-color: #fff;
	border: 1px solid #333;
}

@media screen and (max-width: 1199px) {
	.custom-nav {
		margin: 15px auto;
		font-size: 20px;
	}

}
@media screen and (max-width: 960px) {
	.custom-nav {
		margin: 15px auto;
		font-size: 16px;
	}
	#contact-me {
		margin: 0;
	}

}
@media screen and (max-width: 765px) {
	#profile-pic{
		margin-top: 0;
	}

}